/*
  palettes to consider:
    Golden Divide: http://www.colourlovers.com/palette/755661/Golden_Divide
    http://www.colourlovers.com/palette/558733/%E2%99%A5_400_LOVERS_%E2%99%A5
    http://www.colourlovers.com/palette/76247/Monarch_Butterfly
    http://www.colourlovers.com/palette/394033/Waiting_for_Godot
    http://www.colourlovers.com/palette/74/light
    http://www.colourlovers.com/palette/110996/Part-Time_Super_Girl
    http://www.colourlovers.com/palette/148712/Gamebookers
*/

// fonts
$font-family--primary: 'Ruda', sans-serif;

// colors
$really-really-dark: #000;
$really-dark: #333;
$dark: #444;
$gold: #daac53;
